{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Oficinas RapiPago{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    {% block extracss %}{% endblock extracss %}
    {% block extrajs_head %}{% endblock extrajs_head %}
    <body>
    <div class="container">
        {% block search_box %}
            <div class='row '>
                <div class="col-md-6 col-md-offset-3 jumbotron">
                    <div class="text-center">
                        <h2>Oficinas RapiPago</h2>
                        <form action="{% url 'list' %}" method='GET'>
                            <input type="text" id='search_by' name='search_by' placeholder='Search by...'>
                            <button type="submit" id="btn-search" class='btn btn-default'>Buscar</button>
                        </form>
                    </div>
                </div>            
            </div>
        {% endblock search_box %}
        {% block content %}
        {% endblock content %}
    </div>
    {% block extrajs_footer %}{% endblock extrajs_footer %}
</body>

</html>


