{% extends 'map/base.html' %}
{% load static from staticfiles %}
{% block content %}
<row>
        <div class="text-left">
        {% regroup office_list by province as province_list %}
        {% for province in province_list %}

        <div id='province_{{ forloop.counter }}'  name='province_{{ forloop.counter }}'  class='province'>
        <span class='name'>
        <h3>{{ province.grouper }}</h3>
        </span>
        {% regroup province.list by city as city_list %}
            {% for city in city_list %}
            <div class='city'>
                <h4>{{ city.grouper }} </h4>
            </div>
                {% for office in city.list  %}
                <div class='address'>
                    {{ office.address   }}
                    <a href="/map">View In Map</a>
                </div>
                    
                {% endfor %}
            {%endfor%}
         </div>
         </div>
    {%endfor%}
    </row>
    <row >
    <div class="footer navbar navbar-default navbar-fixed-bottom">
    <div class="container">
    <nav>
     <ul class="pagination">
     <li class="{% if  not page_obj.has_previous %}disabled{% endif %}"><a name='previous' {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}{% endif %}">previous</a></li>

    {% with lower=page_obj.number|add:"-5"  upper=page_obj.number|add:"5"%}
    {% for pagenr in paginator.page_range  %}
     <li class="{% if pagenr == page_obj.number %}active{% endif %}"><a name='page_{{pagenr}}' href="?page={{ pagenr }}">{{pagenr}}</a></li>
    {% endfor %}
    {% endwith %}
     <li class="{% if not page_obj.has_next %}disabled{% endif %}"><a name='next' {% if  page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>next</a></li>
    
    
</ul>
    </nav>
    </div>

    </div>
    </row>
    {% endblock content %}
