{% extends 'map/base.html' %}
{% load static from staticfiles %}
{% block extrajs_head %}  
{% load map_tags %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDzFVT-N7B6O8MdAdmxfodQu7MmG8ZaZ6w&sensor=false" ></script> 
<script src="{% static 'js/map.js' %}"></script>
{% endblock extrajs_head %}
{% block extracss %}
<style>
    html, body, .container, .row, #map_canvas , .col-sm-9  { height: 100% }
</style>
{% endblock extracss %}
{% block search_box %}{% endblock search_box %}
{% block content %}

<div class='row'>
        <div class="col-sm-9">
            <div class="panel panel-info">
                <div class='panel-heading'>
                <h4>Datos oficina</h4>
                </div>

                    <div class='panel-body'>
                            <div class='name'>
                                 <label>Nombre:</label>
                                <span id='name' class='text-info'>{{ office.name   }}</span>
                            </div>                    

                            <div class='province'>
                                <label>Provincia:</label>
                                <span id='province' class='text-info'>{{ office.province   }}</span>
                            </div>                    
                            <div class='city'>
                                <label>Ciudad:</label>
                                <span id='city' class='text-info'>{{ office.city   }}</span>
                            </div>                    

                            <div class='address'>
                                <label>Dirección:</label>
                                <span id='address' class='text-info'>{{ office.address   }}</span>
                            </div>                    
                    </div>
                 </div>
                 <div id='map_canvas' name='map_canvas'></div>
         </div>

    </div>
    {% endblock content %}
    {% block extrajs_footer %}
<script>
    var latlong, zoom, title, div_id;
    latlong = [-25.363882,131.044922]
    zoom = 12
    title = 'my office'
    div_id = 'map_canvas'

      $( document ).ready(function() {
          Map.initialize(latlong, zoom, title, div_id, {% map_optimized %} == 'true')
      }); 


</script>
    {% endblock extrajs_footer %}
